input:focus,
textarea:focus,
select:focus {
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Vazirmatn, sans-serif;
    direction: rtl;
}

body {
    font-family: Vazirmatn, sans-serif;
    min-width: fit-content;
    min-height: fit-content;
    background-color: #f2ecd9;

    background-image:
        /* خط‌کشی افقی */
        linear-gradient(to bottom,
            rgba(90, 80, 60, 0.12) 1px,
            transparent 1px);

    background-size: 100% 26px;
    line-height: 26px;
}

/* لایه نویز رندوم */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    background-image:
        repeating-linear-gradient(7deg,
            rgba(0, 0, 0, 0.02),
            rgba(0, 0, 0, 0.02) 1px,
            transparent 1px,
            transparent 2px),
        repeating-linear-gradient(83deg,
            rgba(0, 0, 0, 0.015),
            rgba(0, 0, 0, 0.015) 1px,
            transparent 1px,
            transparent 3px),
        repeating-linear-gradient(37deg,
            rgba(0, 0, 0, 0.01),
            rgba(0, 0, 0, 0.01) 1px,
            transparent 1px,
            transparent 4px);

    mix-blend-mode: multiply;
    opacity: 0.8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.error {
    width: 250px;
    height: 100px;
    color: white;
    text-align: center;
    border-radius: 15px;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(1px);
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    /* filter: blur(10px); */
}

.error[state="show"] {
    top: 20px;
    transition: top .5s ease;
}

.error[state="hide"] {
    top: -100px;
    transition: top .5s ease;
}

#header {
    border-collapse: collapse;
}

#main-table {
    border-collapse: collapse; 
}

#dars-td{
    border-bottom: 4px solid rgba(90, 80, 60, 0.5);;;
}
.maintable {
    border-collapse: collapse;
    border-spacing: 0;
    /* width: 70px; */
    height: 50px;
    padding: 0px;
    border-right: 3px solid rgba(90, 80, 60, 0.2);
    border-bottom: 4px solid rgba(90, 80, 60, 0.5);;;
}

.dars{
    border-bottom: 4px solid rgba(90, 80, 60, 0.5);;;
    border-right: 3px solid rgba(90, 80, 60, 0.2);;;
}

.dars,
.day-sum {
    height: inherit;
}
.test,.desc,.test-darsad{
    border-bottom: 3px solid rgba(90, 80, 60, 0.2);
}

.base {
    width: 100%;
    height: 200px;
}

#dars-td {
    height: inherit;
    width: 12.5%;
    background-color: transparent;
}



#day-sum,
#day-sum td {
    margin-top: 100px;
    height: 50px;
}

.desc textarea {
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
}

.shanbe,
.yekshanbe,
.doshanbe,
.seshanbe,
.chaharshanbe,
.panjshanbe,
.jome,
.sum {
    border-right: 3px solid rgba(90, 80, 60, 0.2);
    height: 100%;
    width: 100%;
    /* width: 170px; */
    background-color: transparent;

}


.time input {
    background-color: transparent;
}

.test,
.test-darsad,
.time-sum,
.test-sum,
.time,
.desc {
    justify-items: center;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
    overflow: hidden;
    background-color: transparent;
}

.test,
.test-darsad,
.time,
.desc {
    height: 100%;
    background-color: transparent;
}

.test input {
    min-height: 50px;
    height: 100%;
    background-color: transparent;
}

.test-darsad {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 50px;
    width: inherit;
    justify-items: center;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: height 1000ms;
    background-color: transparent;
}


.test-darsad[data-status="open"] {
    height: 150px;
    /* وقتی بازه */
}

.test-darsad[data-status="close"] {
    height: 50px;
    /* وقتی بسته است */
}

.test-darsad:hover {
    height: 150px;
}

/* .test-darsad.touched,
.test-darsad:hover {
    height: 150px;
}
.test-darsad{
    height: 50px;
} */

.test-darsad input {
    height: 50px;
    background-color: transparent;
}

#darsad,
#ghalat,
#nazade {
    width: 100%;

}

#ghalat {
    background-color: rgba(255, 0, 0, 0.2);
}

#nazade {
    background-color: rgba(255, 251, 0, 0.1);
}

input[type="number"] {
    width: 100%;

}

input[type="text"] {
    width: 100%;
}
table{
    border-collapse: collapse;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px 50px 0px 0px;
    background-color: #FFCE99;
    z-index: 1000;
    position: sticky;
    margin-top: 100px;
    width: 50%;
    min-width: 765px;
    bottom: 0px;
    height: 70px;
    box-shadow: -3px 0px  rgb(95, 88, 73),
     3px 0px  rgb(95, 88, 73),
     0px -3px rgb(95, 88, 73);
    overflow: hidden;
    font-size: clamp(12px, 1.2vw, 16px);
}
.footer
.footer td {
    text-align: center;
    vertical-align: middle;
    
}

.footer tr td:hover{
    background-color: #F7C58E;
}


footer tr {
    border-radius: 40px;
    overflow: hidden;

}

.footer input,
.footer a {
    font-size: inherit;
    height: 100%;
    line-height: 70px;
    /* هم‌ارتفاع با footer */
    text-align: center;
}




.footer tr,
.footer tr td,
.footer tr td div {
    height: inherit;
}




.class-input,
.load-input,
.export {
    background-color: transparent;

    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;

}


.submit-book,

.clear-table {
    font-weight: bolder;
    height: 100%;
    width: 100%;
    background-color: transparent;
    /* background-color: lightseagreen; */
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.load-book {
    font-weight: bolder;
    height: 100%;
    width: 100%;
    background-color: transparent;

    /* background-color: rgb(0, 255, 38); */
    text-align: center;
    margin: 0px;
    padding: 0px;
}


.clear-table {
    width: 100%;
    background-color: transparent;

    /* background-color: tomato; */
}


.export {
    background-color: transparent;

    /* background-color: yellow; */
    text-align: center;
    vertical-align: middle;

}

.export a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    line-height: 60px;
}


input {
    text-align: center;
    margin: 0px;
    width: 50px;
    height: 50px;
    border: 00px;
}

#base-class {
    display: none;
}