input:focus,
textarea:focus,
select:focus {
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Vazirmatn, sans-serif;
    direction: rtl;
}

body {
    font-family: Vazirmatn, sans-serif;
    min-width: fit-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.error {
    width: 250px;
    height: 100px;
    color: white;
    text-align: center;
    border-radius: 15px;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(1px);
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    /* filter: blur(10px); */   
}
.error[state="show"] {
    top: 20px;
    transition: top .5s ease;
}
.error[state="hide"] {
    top: -100px;
    transition: top .5s ease;
}

#header {
    border-collapse: collapse;
    margin: 0;
}

#main-table {
    
    width: 100%;
}

.maintable {
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
    width: 70px;
    height: 50px;
    padding: 10px;
    background-color: rgb(193, 193, 193);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.dars,
.day-sum {
    border: 3px solid black;
    width: 70px;
    height: inherit;
    background-color: rgb(190, 190, 190);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.base {
    height: 200px;
}

#dars-td {
    height: inherit;
    width: inherit;
}

#day-sum,
#day-sum td {
    margin-top: 100px;
    height: 50px;
}

.desc textarea {
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
}

.shanbe,
.yekshanbe,
.doshanbe,
.seshanbe,
.chaharshanbe,
.panjshanbe,
.jome,
.sum {
    height: 100%;
    width: 170px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.test,
.test-darsad,
.time-sum,
.test-sum,
.time,
.desc {
    justify-items: center;
    text-align: center;
    width: inherit;
    /* height: 100%; */
    border: 3px solid rgb(81, 65, 65);
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.test,
.test-darsad,

.time,
.desc {
    height: 100%;
}

.test-darsad {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 50px;
    width: inherit;
    justify-items: center;
    text-align: center;
    border: 3px solid rgb(81, 65, 65);
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: height 1000ms;
}


.test-darsad[data-status="open"] {
    height: 150px;   /* وقتی بازه */
}

.test-darsad[data-status="close"] {
    height: 50px;    /* وقتی بسته است */
}

/* .test-darsad.touched,
.test-darsad:hover {
    height: 150px;
}
.test-darsad{
    height: 50px;
} */

.test-darsad input {
    height: 50px;
}

#darsad,
#ghalat,
#nazade {
    width: 100%;
}

#ghalat {
    background-color: rgb(255, 156, 138);
}

#nazade {
    background-color: lightgoldenrodyellow;
}

input[type="number"] {
    width: 100%;
}

input[type="text"] {
    width: 100%;
}


.footer {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 50px;
    height: 70px;
    border-collapse: collapse;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

    font-size: clamp(12px, 1.2vw, 16px);
}

.footer td {
    text-align: center;
    vertical-align: middle;
}



footer tr {
    border-radius: 40px;
    overflow: hidden;

}

.footer input,
.footer a {
    font-size: inherit;
    height: 100%;
    line-height: 70px;
    /* هم‌ارتفاع با footer */
    text-align: center;
}

.export {
    height: 100%;
    background-color: yellow;
}

.export a {
    display: block;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}



.footer tr,
.footer tr td,
.footer tr td div {
    height: inherit;
}




.class-input,
.load-input,
.export {
    height: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;

}


.submit-book,

.clear-table {
    font-weight: bolder;
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.load-book {
    font-weight: bolder;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 38);
    text-align: center;
    margin: 0px;
    padding: 0px;
}


.clear-table {
    width: 100%;
    background-color: tomato;
}


.export {
    
    background-color: yellow;
    text-align: center;
    vertical-align: middle;

}

.export a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    line-height: 60px;
}

input {
    text-align: center;
    margin: 0px;
    width: 50px;
    height: 50px;
    border: 00px;
}

#base-class {
    display: none;
}